@mixin max-500-px {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin min-501-px {
  @media (min-width: 501px) {
    @content;
  }
}

.box-2 {
  display: block;
  @include max-500-px {
    display: none;
  }

  background-color: teal;
  @include min-501-px {
    background-color: green;
    display: none;
  }
}
